<div class="row">
  <h2 class="top-margin">
    <strong>Zamówienia oczekujące na realizację:</strong>
  </h2>
</div>

<hr>
<app-admin-order *ngFor="let order of submittedOrders" [order]="order" (orderCompleted)="updateOrders()">
</app-admin-order>


<div class="row">
  <h2 class="top-margin">
    <strong>Zamówienia zrealizowane:</strong>
  </h2>
</div>

<hr>
<app-admin-order *ngFor="let order of completedOrders" [order]="order">
</app-admin-order>

<div class="row top-margin">
  <div class="col-md-3">
    <button class="btn btn-info w-100" (click)="returnBack()">
      Powrót
    </button>
  </div>
</div>
