<div class="container">
  <div class="offset-3 col-md-6">
    <form class="form-signin" [formGroup]="loginForm">
      <h1 class="form-signin-heading">Zaloguj się</h1>
      <div class="input-field">
        <label for="inputEmail" class="sr-only">Nazwa użytkownika</label>
        <input type="email" id="inputEmail" class="form-control" formControlName="username"
               placeholder="Nazwa użytkownika" required>
      </div>
      <div class="input-field">
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Hasło"
               required>
      </div>
      <button class="btn btn-lg btn-success btn-block" type="submit" (click)="login()">Zaloguj się</button>
    </form>
  </div>
</div>
