.form-signin-heading {
  margin: 75px 0 50px 0;
  font-weight: bold;
}

.form-control:focus {
  border-color: #4ba74b;
  box-shadow: none;
}

.input-field {
  margin-bottom: 15px;
}

.btn-lg {
  margin-top: 50px;
}

.sign-up {
  margin-top: 50px;
  font-size: 125%;
}
