<div class="row">
  <h2 class="top-margin">
    <strong>Produkty:</strong>
  </h2>
</div>

<div class="row">
  <div class="offset-9 col-md-3">
    <button class="btn btn-info w-100" (click)="toggleCreateNew()">Nowy produkt</button>
  </div>
</div>

<div *ngIf="createNew">
  <form [formGroup]="newProductForm">
    <div class="row top-margin-15">
      <div class="col-md-1">
        <label for="name">Nazwa</label>
      </div>
      <div class="col-md-11">
        <input type="text" class="input-lg w-100 text-right" id="name" formControlName="name" placeholder="Nazwa">
      </div>
    </div>
    <div class="row top-margin-15">
      <div class="col-md-1">
        <label for="category">Kategoria</label>
      </div>
      <div class="col-md-11">
        <input type="text" class="input-lg w-100 text-right" id="category" formControlName="category"
               placeholder="Kategoria">
      </div>
    </div>

    <div class="row top-margin-15">
      <div class="col-md-1">
        <label for="price">Cena</label>
      </div>
      <div class="col-md-11">
        <input type="text" class="input-lg w-100 text-right" id="price" formControlName="price"
               placeholder="Cena">
      </div>
    </div>

    <div class="row top-margin-15">
      <div class="col-md-1">
        <label for="image">Zdjęcie</label>
      </div>
      <div class="col-md-11">
        <div type="file" class="w-100 dragdrop" id="image"
             ng2FileDrop
             [ngClass]="{'file-over': hasDropZoneOver}"
             (fileOver)="fileOverDropZone($event)"
             [uploader]="uploader">
          <div class="text-center">
            <span *ngIf="uploader.queue.length <= 0">Przeciągnij zdjęcie tutaj</span>
            <span *ngIf="uploader.queue.length > 0">{{uploader.queue[0].file.name}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row top-margin-15">
      <div class="col-md-1">
        <label for="rating">Ocena</label>
      </div>
      <div class="col-md-11">
        <input type="text" class="input-lg w-100 text-right" id="rating" formControlName="rating"
               placeholder="Ocena">
      </div>
    </div>

    <div class="row top-margin-15">
      <div class="col-md-1">
        <label for="available">Dostępnych</label>
      </div>
      <div class="col-md-11">
        <input type="text" class="input-lg w-100 text-right" id="available" formControlName="available"
               placeholder="Dostępnych">
      </div>
    </div>

    <div class="row top-margin-15">
      <div class="col-md-1">
        <label for="description">Opis</label>
      </div>
      <div class="col-md-11">
        <textarea rows="4" class="input-lg w-100" id="description" formControlName="description"
                  placeholder="Opis"></textarea>
      </div>
    </div>

    <div class="row top-margin-15">
      <div class="offset-10">
        <a class="btn btn-danger text-white" (click)="cancelCreateNew()">Anuluj</a>
        <a class="btn btn-info text-white" (click)="createNewProduct()">Zatwierdź</a>
      </div>
    </div>
  </form>
</div>

<hr>
<app-admin-product *ngFor="let product of products" [product]="product"
                   (productUpdated)="updateProducts()"
                   (productRemoved)="updateProducts()">
</app-admin-product>

<div class="row top-margin">
  <div class="col-md-3">
    <button class="btn btn-info w-100" (click)="returnBack()">
      Powrót
    </button>
  </div>
</div>
