<app-admin-navbar (changeView)="setView($event)"></app-admin-navbar>
<div class="container">
  <app-admin-home *ngIf="currentView == 1"
                  (manage)="manage($event)">
  </app-admin-home>
  <app-admin-orders *ngIf="currentView == 2"
                    (returnBack)="setView(1)">

  </app-admin-orders>
  <app-admin-products *ngIf="currentView == 3"
                      (returnBack)="setView(1)">
  </app-admin-products>
  <app-admin-discounts *ngIf="currentView == 4"
                       (returnBack)="setView(1)">
  </app-admin-discounts>
</div>
